.calculatorContainer {
    width: fit-content;
    background-color: rgb(7, 35, 121);
    border-radius: 0.75rem;
    border: solid 7px rgb(3, 3, 90);
    margin: 50%;
    text-align: center;
}

.calculatorFunctions {
    width: 200px;
    background-color: white;
    padding: 30px;
}

.tipOptionContainer {
}

.tipButtons {
    display: flex;
    justify-content: space-evenly;
}

.splitContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-right: 6px;
}

.finalOutput {
    width: fit-content;

    padding: 20px;
    margin-left: 35px;
}
